header {
    font-family: 'Source Code Pro', monospace;
    color: #f0ebeb;
    text-align: right;
}

nav a {
    font-family: 'Source Code Pro', monospace;
    color: #635f5f;
    font-size: 20px;
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: color 0.5s ease-in-out;
    text-decoration: none;
}

body {
    background-color: #202020;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Source Code Pro', monospace;
    color: #f0ebeb;
}

nav {
    background-color: #9900008f;
    padding: 3px;
    position: fixed;
    top: 0;
    width: 100%;
}

a:hover {
    color: white;
}