header {
    font-family: 'Source Code Pro', monospace;
    color: #f0ebeb;
    text-align: right;
}

nav a {
    font-family: 'Source Code Pro', monospace;
    color: #f0ebeb;
    font-size: 20px;
    margin: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body {
    background-color: #444444;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Source Code Pro', monospace;
    color: #f0ebeb;  
}

.nav {
    background-color: #9900008f;
    padding: 20px;
}